export('simOpenSCR')
export('simOpenSCRsex')
export('inout')
export('SCRmcmcOpen')
export('SCRmcmcOpenRcpp')
export('mcmc_Open')
export('mcmc.OpenSCR')
export('mcmc.OpenSCR.sex')
export('simOpenSCR.plot')
importFrom(Rcpp, evalCpp)
useDynLib(OpenPopSCR)
